# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Auto* temp files
/aclocal.m4
/autom4te.cache/
/configure
/depcomp
/install-sh
/missing
/config.h
/config.log
/config.status
/stamp-h1
/tv_control_server

*.in
.deps/
.dirstamp
Makefile

